$base-link-color: #25aae1;
$base-body-color: #212121;
$breakpoint-small: 480px;
$breakpoint-medium: 769px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1280px;
$container-max-width: 1260px;
$base-body-font-family: 'Poppins', sans-serif;
$base-hr-border-width: 2px;
$base-em-color: #181818;
$button-font-size: 1.6rem;
$button-padding-horizontal: 25px;
$button-line-height: 2.2rem;
$button-default-background: #cca36e;
$button-default-color: #fff;
$button-default-hover-background: #fff;
$button-default-hover-color: #cca36e;
$margin-medium-margin: 30px;
$margin-large-margin-l: 90px;